.deck-name {
  width: fit-content;
  justify-self: center;
  color: cornflowerblue;
}

.swiper-collection {
  background-color: rgb(242, 242, 242);
  position: sticky;
  top: 0;
  z-index: 300;
  margin: 15px;
  padding-top: 1.33em;
  border-radius: 8px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}
